#map-container {
    position: relative;
    width: 992px;
    height: 989px;
    background: #111;
}

#map {
    position: relative;
    width: 100%;
    height: 100%;
}

.pin {
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 4px 6px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 4px;
}

.pin-kingdom { background: gold; }
.pin-clan { background: dodgerblue; }
.pin-castle { background: crimson; }

.kingdom-pin {
  position: absolute;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.map-wrapper {
    position: relative;
    display: inline-block;
}

/* Background image */
.map-bg {
    display: block;       /* removes inline gap */
    max-width: 100%;      /* responsive if needed */
    height: auto;
}

/* Pins positioned relative to wrapper 
#mapPins,*/
.capital-pin {
    position: absolute;
    top: 0;
    left: 0;
}

#capitalPin img {
    display: block;
}

.bc-card-header {
  padding:12px;
}

.map-card .bc-card-body {
    display: flex;
    justify-content: center;
    align-items: center;
  padding:20px;
}